/* estilos.css */
.titulo-nivel-1 {
    font-weight: 400; /* Peso de fuente normal */
}
.titulo-nivel-2 {
    font-weight: 400; /* Peso de fuente normal */
}
h1 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 26px;
    text-align: justify;
}
h2 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: justify;
}
h3 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 20px;
    text-align: justify;
}
h4 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}
.light-mode h1, .light-mode h2 {
    color: #303030;
}
.dark-mode h1, .dark-mode h2 {
    color: #d0d0d0;
}
/* Estilos personalizados para enlaces internos */
a.reference.internal {
    display: flex;
    align-items: center;
    gap: 15px;
}
.toctree-wrapper ul li {
    list-style: none;
}
.epigraph {
    text-align: justify;
}
/* Cambia el color y estilo del enlace de toctree */
.toctree-wrapper a {
    color: #00979b; /* Cambia el color del texto */
    font-weight: 400; /* Cambia el estilo del texto */
}
.open-dropdown {
    display: block;
}
.justified-text {
    text-align: justify;
}
table.docutils td p, table.docutils th p {
    font-size: 12px;
}

