/* estilos.css */
.titulo-nivel-1 {
    font-weight: 400; /* Peso de fuente normal */
}
.titulo-nivel-2 {
    font-weight: 400; /* Peso de fuente normal */
}
h1 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 24px;
}
h2 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
h3 {
    font-weight: 400; /* Peso normal o regular */
    font-size: 18px;
}
.light-mode h1, .light-mode h2 {
    color: #303030;
}
.dark-mode h1, .dark-mode h2 {
    color: #d0d0d0;
}
/* Estilos personalizados para enlaces internos */
a.reference.internal {
    display: flex;
    align-items: center;
    gap: 15px;
}
.toctree-wrapper ul li {
    list-style: none;
}
.justified-text {
    text-align: justify;
}
